MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/foodieexpress?retryWrites=true&w=majority
JWT_SECRET_KEY=foodieexpress-super-secret-key-change-this-in-production
FLASK_ENV=development
FLASK_PORT=5000
